In [10]:
import pandas as pd
import json

In [11]:
with open('sal.json') as json_file:
    sal = pd.read_json('sal.json')
    twitter = pd.read_json('twitter-data-small.json')

In [12]:
sal

,abbotsbury,abbotsford (nsw),acacia gardens,agnes banks,airds,alexandria,alfords point,alison (central coast - nsw),allambie heights,allawah,...,weetangera,weston (act),whitlam,wright,yarralumla,christmas island,home island,jervis bay,norfolk island,west island
ste,1,1,1,1,1,1,1,1,1,1,...,8,8,8,8,8,9,9,9,9,9
gcc,1gsyd,1gsyd,1gsyd,1gsyd,1gsyd,1gsyd,1gsyd,1gsyd,1gsyd,1gsyd,...,8acte,8acte,8acte,8acte,8acte,9oter,9oter,9oter,9oter,9oter
sal,10002,10003,10014,10021,10022,10030,10031,10034,10036,10038,...,80132,80133,80134,80135,80136,90001,90002,90003,90004,90005

In [13]:
sal.loc["gcc"].

abbotsbury          1gsyd
abbotsford (nsw)    1gsyd
acacia gardens      1gsyd
agnes banks         1gsyd
airds               1gsyd
                    ...
christmas island    9oter
home island         9oter
jervis bay          9oter
norfolk island      9oter
west island         9oter
Name: gcc, Length: 15340, dtype: object

In [8]:
twitter

,_id,_rev,data,includes,matching_rules
0,1412193387575316480,2-0fa70896c4b97c5fa391af1b9ea8e0d1,"{'author_id': '836119507173154816', 'conversat...","{'places': [{'full_name': 'Australia', 'geo': ...","[{'id': 1412189062442586000, 'tag': 'Australia..."
1,1412195752344883200,1-1f2c1ed1b6971974f6cf160432cf5cd3,"{'author_id': '1399941819950006272', 'conversa...","{'places': [{'full_name': 'Australia', 'geo': ...","[{'id': 1412189062442586000, 'tag': 'Australia..."
2,1412189452361891840,2-b7051a2bc867e5b4fc07265ca9be21c6,"{'author_id': '3022979040', 'context_annotatio...","{'places': [{'full_name': 'New South Wales, Au...","[{'id': 1412189062442586000, 'tag': 'Australia..."
3,1412189999055790080,2-ab62139e14adaf050ac13120deccbab6,"{'author_id': '558259110', 'conversation_id': ...","{'places': [{'full_name': 'New South Wales, Au...","[{'id': 1412189062442586000, 'tag': 'Australia..."
4,1412190244280012800,2-9c5c10bf0b52ed25d5707650cf77b128,"{'author_id': '1158755742', 'conversation_id':...","{'places': [{'full_name': 'New South Wales, Au...","[{'id': 1412189062442586000, 'tag': 'Australia..."
...,...,...,...,...,...
710,1412198117932371968,2-006aa665ed988fdb89bef231685f833a,"{'author_id': '1348502962050535428', 'context_...","{'places': [{'full_name': 'Canberra, Australia...","[{'id': 1412189062442586000, 'tag': 'Australia..."
711,1412198454407794688,2-eec096a988dd97e133c574a1923ccdb7,"{'author_id': '137315172', 'conversation_id': ...","{'places': [{'full_name': 'Canberra, Australia...","[{'id': 1412189062442586000, 'tag': 'Australia..."
712,1412185329184821248,1-1d7753f02dc586d1600b99652ad43426,"{'author_id': '3306424254', 'conversation_id':...","{'places': [{'full_name': 'Canberra, Australia...","[{'id': 1412184603519971300, 'tag': 'Australia..."
713,1412190755452424192,2-54b92b502587e83985f0a24b23a56037,"{'author_id': '7598552', 'conversation_id': '1...","{'places': [{'full_name': 'Braddon, Canberra',...","[{'id': 1412189062442586000, 'tag': 'Australia..."
714,1412197569585848320,2-5eef29f3b507ee9b51f076dae89eb8f7,"{'author_id': '1397010827048194048', 'conversa...","{'places': [{'full_name': 'Fyshwick, Canberra'...","[{'id': 1412189062442586000, 'tag': 'Australia..."